<?xml version="1.0" encoding="UTF-8"?>
<QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd">
<Overview>
  <Title>Furniture</Title>
  <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageOne %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
  <Binary>
    <MimeType>
      <Type>image</Type>
    </MimeType>
    <DataURL><%= @imageTwo %></DataURL>
    <AltText>Furniture</AltText>
   </Binary>
 </Overview>
  <Question>
   <QuestionIdentifier>Complementary</QuestionIdentifier>
   <QuestionContent>
     <Text>Would these two pieces of furniture complement each other in the same room?</Text>
   </QuestionContent>
   <AnswerSpecification>
<SelectionAnswer>
  <StyleSuggestion>radiobutton</StyleSuggestion>
  <Selections>
    <Selection>
      <SelectionIdentifier>Complement</SelectionIdentifier>
      <Text>Yes</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>NoComplement</SelectionIdentifier>
      <Text>No</Text>
    </Selection>
  </Selections>  
     </SelectionAnswer>
   </AnswerSpecification>
  </Question>
 <Question>
   <QuestionIdentifier>Similarity</QuestionIdentifier>
   <QuestionContent>
     <Text>How alike do these two pieces of furniture look?</Text>
   </QuestionContent>
   <AnswerSpecification>
<SelectionAnswer>
  <StyleSuggestion>radiobutton</StyleSuggestion>
  <Selections>
    <Selection>
      <SelectionIdentifier>NotAlike</SelectionIdentifier>
      <Text>Not Alike</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>SomewhatAlike</SelectionIdentifier>
      <Text>Somewhat Alike</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>VeryAlike</SelectionIdentifier>
      <Text>Very Alike</Text>
    </Selection>
    <Selection>
      <SelectionIdentifier>Identical</SelectionIdentifier>
      <Text>Identical</Text>
    </Selection>
  </Selections>  
     </SelectionAnswer>
   </AnswerSpecification>
  </Question>
</QuestionForm>

