<div class ="container-fluid">

  <script type="text/ng-template" id="modal.html">
    <div class="modal fade">
      <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" style="padding-left:5%">Build-a-Room</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4" style="padding-left:5%">
                <p>Start building with this piece of furniture...</p>
                <img src={{showing}}></img>
              </div>
              <div class="col-md-8" style="padding-left:5%">
                <form class="form-horizontal" role="form">
                  <div class="form-group" style="padding-right:10%">
                    <label for="name" class="col-sm-2 control-label">Url</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" ng-model="showing">
                    </div>
                  </div>
                  <div class="form-group" style="padding-right:5%">
                    <h4 style="padding-left:2%">Enter the numbers of furniture you want in your room:</h4>
                    <label for="sofa" class="col-sm-2 control-label">Sofa</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="1" ng-model="sofa">
                    </div>
                    <label for="love" class="col-sm-2 control-label">Loveseat</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="1" ng-model="loveseat">
                    </div>
                    <label for="storage" class="col-sm-2 control-label">Storage</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="1" ng-model="storage">
                    </div>
                    <label for="footstool" class="col-sm-2 control-label">Footstool</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="1" ng-model="footstool">
                    </div>
                    <div class="row">
                      <div class="col-sm-6" style="padding-top:5%; padding-left:8%">
                        <p>(min: 0; max: 5)</p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <img ng-show="prentending" src="images/progressring.gif" style="padding-right:5%"/>
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" ng-click="close('Yes')" class="btn btn-primary">Build It!</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <div class="row" style="padding-top: 5%">
    <div class="col-md-6" style="padding-top:20px">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-lg btn-default" ng-click="setCatagory('all')">Show All</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="setCatagory('sofa')">Sofa</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="setCatagory('loveseat')">Loveseat</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="setCatagory('storage')">Storage</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="setCatagory('footstool')">Footstool</button>
      </div>
    </div>
    <div class="col-md-1" style="padding-top:20px">
      <button type="button" class="btn btn-lg btn-default" ng-click="reset()">Reset</button>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <h4>Showing: {{currentCatagory}}</h4>
    </div>
  </div>
  <div class="row" style="padding-top:10px">
    <div class ="col-md-1" ng-repeat ="(image,cluster) in images">
      <div class="row">
        <img src={{image}} style="width:100%" ng-click="setClusterNumber(cluster)" ng-style="setOpacity(image)" ng-mouseover="showOptions(image)"></img>
        <div class="btn-group" uib-dropdown ng-mouseover="isopen = true" ng-show="showing==image" is-open="isopen" style="position:absolute; bottom:5px; left:10px">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Options <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="width:260px" role="menu">
            <li><img src={{image}} style="width:100%; height:150%; padding-bottom:2%"></img>
            </li>
            <li><a href ng-click="configRoom(image)" >Build a Room</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">IKEA link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
